---
export interface props {
    title?: string;
    anchor?: string;
    skills: string[];
}

const { title = 'Skills', anchor, skills } = Astro.props as props;

const skillsCount = skills.length -1;

function format(str:string) {
    return `<span class="text-golden-sun">${str}</span>`;
}
---

<div id={anchor&&`${anchor}`} class="">
    <h2 class="">{title}</h2>
    <ul class="max-w-xl relative">
        {skills.map((skill, index) => (
            <li>{skill}<span class={`text-sun-gold ${skillsCount==index&&'hidden'}`}>,</span></li>
        ))}
    </ul>
</div>

<style>
    ul {

    }
    ul li {
        @apply relative inline-block text-white text-lg mr-2;

    }
</style>